<html>
<head><title>MSRTA-Randomizer</title>
{% load static %}
<link rel="stylesheet" href="{% static 'msrta.css' %}"/>
<script type="text/javascript" src="{% static 'jquery-3.2.1.slim.min.js' %}"></script>
<script type="text/javascript" src="{% static 'msrta.js' %}"></script>
</head>
<body>
<table id="card-table">{% for row in run %}<tr>{% for cell in row %}
    <td><span class="card-name">{{cell.name}}</span>
    {% if cell.quest %}<br><span class="card-quest">{{ cell.quest}}</span>{% endif %}
    {% if cell.trial %}<br><span class="card-trial">{{ cell.trial}}</span> {% endif %}</td>
{% endfor %}</tr>{% endfor %}</table>
<div id="endnote"><a href="http://www.github.com/lepelog/botw-msrta-randomizer">Visit the Source Code on GitHub</a></div>
</body>
</html>
