<html>
<head><title>MSRTA-Randomizer</title>
{% load static %}
<link rel="stylesheet" href="{% static 'msrta.css' %}"/>
<script type="text/javascript" src="{% static 'jquery-3.2.1.slim.min.js' %}"></script>
<script type="text/javascript" src="{% static 'msrta.js' %}"></script>
</head>
<body>
<div id="settings"><table>
<tr>
<td class="first">Selected Regions:</td><td class="second">{{regions}}</td>
</tr>
<tr>
<td class="first">Tests of Strength:</td><td class="second">{{tos}}</td>
</tr>
<tr>
<td class="first">Include Special Shrines:</td><td class="second">{{special_shrines}}</td>
</tr>
<tr>
<td class="first">Include Vah Medoh:</td><td class="second">{{medoh}}</td>
</tr>
<tr>
<td class="first">Include Vah Naboris:</td><td class="second">{{naboris}}</td>
</tr>
<tr>
<td class="first">Include Vah Ruta:</td><td class="second">{{ruta}}</td>
</tr>
<tr>
<td class="first">Include Vah Rudania:</td><td class="second">{{rudania}}</td>
</tr>
</table></div>
<div id="runlinks">
<a href="/settings">Generate new Run</a><br/>
<a href="/run?settings={{setting_str}}">Generate new Run with same settings</a></div>
<div class="regions">
{% for region, goals in run %}
<div class="goals">
<p class="region">{{region}}</p>
{% for goal in goals%}
<div class="goal color-black" id="{% if goal.orbs == 1 %}shrine_{% else %}beast_{% endif %}{{goal.id}}">
{% if goal.orbs == 1 %}
<p class="goaltrial">
<a href="https://www.zeldadungeon.net/breath-of-the-wild-interactive-map/?id={{goal.name}} Shrine" target="_blank">{{goal.trial}}</a></p>
<p class="goalname">{{goal.name}} Shrine</p>
{% if goal.orbs == 1 and goal.quest %}
<hr/>
<p class="goalquest">{{goal.quest}}</p>
{% endif %}
{% else %}
<p class="beast">{{goal.name}}</p>
{% endif %}
</div>
{% endfor %}
</div>
{% endfor %}
</div>
</body>
</html>
