<html>
<head><title>MSRTA-Randomizer Settings</title>
{% load static %}
<link rel="stylesheet" href="{% static 'msrta.css' %}">
</head>
<body>
<form id="settings" action="" method="post">
<p id="settingstitle">Settings for MSRTA-Randomizer</p>
{% load form_utils %}
{% csrf_token %}
{% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}
{% for fieldset in form.fieldsets %}
  <fieldset class="{{ fieldset.classes }}">
  {% if fieldset.legend %}
    <legend>{{ fieldset.legend }}</legend>
  {% endif %}
  {% if fieldset.description %}
    <p class="description">{{ fieldset.description }}</p>
  {% endif %}
  <ul>
  {% for field in fieldset %}
    {% if field.is_hidden %}
      {{ field }}
    {% else %}
      <li{{ field.row_attrs }}>
        {{ field.errors }}
        {{ field.label_tag }}
        {{ field }}
      </li>
    {% endif %}
  {% endfor %}
  </ul>
  </fieldset>
{% endfor %}
<input type="submit" value="Generate Run">
</ul>
</form>
<div id="endnote"><a href="http://www.github.com/lepelog/botw-msrta-randomizer">Visit the Source Code on GitHub</a></div>
</body>
</html>
